main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--blue-boolean);
    color: var(--green-boolean);
}

/* Messaggio visualizzato */
main h2 {
    background-color: var(--blue-boolean);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#ms_griglia {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: var(--bg-griglia);
    border-color: var(--ms-white);
}

.ms_cella {
    border-top: 1px solid var(--ms-white);
    border-right: 1px solid var(--ms-white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ms_cella.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.ms_cella.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.ms_cella.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.ms_flower {
    background-color: var(--bg-flower);
    font-size: 1.75rem;
    color: var(--flower);
    position: relative;
}

.ms_flower::after {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 8px;
    color: var(--flower-circle);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.ms_bomb {
    background-color: var(--bg-bomb);
    color: var(--bomb);
}