:root {
    --blue-boolean: #001533;
    --green-boolean: #00e165;
    --ms-white: #f9f4ef;
    --bg-griglia: #72757e;
    --bg-flower: #abd1c6;
    --flower: #e78fb3;
    --flower-circle: #faae2b;
    --bg-bomb: #f25042;
    --bomb: #232323;
}